@import url('https://fonts.cdnfonts.com/css/helveticaneue-2');
@import url('https://fonts.cdnfonts.com/css/open-sans');
@import url('https://fonts.cdnfonts.com/css/myriad-pro');
/*Responsivité pour Desktop*/
@media screen and (min-width:1024px){

    *{
        margin: 0;
        padding: 0;
    }
    .inscrire{
        width: 55%;
        height: 400px;
        float: left;
    }
    .avatar_admin{
        width: 35%;
        height: 50%;
        background-image: url("Images/Icônes/user.png");
        background-repeat: no-repeat;
        background-size: ;
        border: 2px solid #51bfd0;
        float: right;
        margin-right:20px;
        margin-top:20px;
        border-radius: 50%;
    }
    h2{
        margin-top: 10px;
        margin-left: 10px;
    }
    h6{
        margin-left: 10px;
        color:#818181;
    }
    hr{
        background-color:#818181;
        width:90%;
    }
    form{
        margin-left: 30px;
        margin-top:5px;
    }
    #input{
        width: 70%;
        height: 25px;
        border-radius:5px;
    }
    label{
        font-size: 12px;
        color:#818181;
    }
    #btn_creer_compte{
        margin-bottom: 10px;
        margin-left: 70px;
        border-radius: 5px;
        background-color: #51bfd0;
        height: 25px;
        color: white;
    }
    #btn_file{
        position: absolute;
        overflow: hidden;
        display: inline-block;
    }
}
    /*Responsivité pour Tablette*/
   
    /*Responsivité pour Smartphone*/
   