@import url('https://fonts.cdnfonts.com/css/helveticaneue-2');
@import url('https://fonts.cdnfonts.com/css/open-sans');
@import url('https://fonts.cdnfonts.com/css/myriad-pro');
/*Responsivité pour Desktop*/
@media screen and (min-width:1024px){

    *{
        margin: 0;
        padding: 0;
    }
    .container{
        width: 100%;
        height: 610px;
        margin-top: 5px;
    }
    .section{
        background-image:url("Images/img-bg.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
        height: 535px;
        width: auto;
        border: 0.5px grey solid;
        margin-top: none;
    }
    .header{
        width: 100%;
        height: 80px;
        background-color: #1e4852;
    }
    .logo{
        width: 15%;
        height: 100px;
        float: left;
        background-image: url("Images/logo-QuizzSA.png");
        background-size: 25%;
        background-position: 30px;
        background-repeat: no-repeat;
        overflow: hidden;
        margin-top: -8px;
    }
    .title{
        width: 85%;
        height: 80px;
        margin-left:-60px;
        float: left;
        text-align: center;
        color: white;
        margin-top: 20px;
        font-family: 'open-sans';
    }
    .cadre{
        width: 97%;
        height: 520px;
        background-color: white;
        margin-left: 20px;
        margin-top:5px;
    }
    .wrapper{
        width: 100%;
        height: 90px;
        background-color: #51bfd0;
        color: white;
        font-size: 10px;
        font-weight: bold;
        margin-top:5px;

    }
    #item{
        text-align: center;
        font-size: 25px;
        padding-top:10px;
        font-family: "helveticaneue-2";
    }
    button{
        float:right;
        width: 10%;
        height: 30px;
        font-size: 20px;
        margin-top:-40px;
        color: white;
        margin-right:20px;
        font-family:" myriad-pro";
        background-color: #3addd6;
    }
    .bloc{
        width: 100%;
        height: 440px;
        float:left;
    }
    .bloc-profil{
        width: 50%;
        height: 400px;
        border-radius: 1%;
        text-align: center;
        float:left;
        margin-top:1.5%;
        margin-left: 8%;
        box-shadow: 1px 1px 12px rgb(68, 67, 67);
    }
    .bloc-item{
        width: 30%;
        height: 350px;
        float:right;
        margin-top:3%;
        margin-right: 8%;
        border-radius: 1%;
        box-shadow: 1px 1px 12px rgb(68, 67, 67);
    }
    
    .profil{
        width:20%;
        height:90px;
        margin-left:30px;
        float: left;
        margin-top: 25px;
       
        border-radius: 50%;
        border:2px solid #818181;
    }
    #profil{
        width: 5%;
        height: 60px;
        
        margin-left:15px;
        float:left;
        border-radius: 50%;
        margin-top:-15px;
        background-image: url("Images/Icônes/profil.jpeg");
        background-repeat: no-repeat;
        background-size: 98%;
        border: 2px solid white;
    }
    h4{
        margin-top:-20px;
    }
    .item{
        width: 94%;
        margin-top:-3px;
        
        margin-left: 20px;
    }
    .border{
        border: 2px  solid #3addd6;
       margin-left:1.5%;
       margin-top:3%;
        height: 350px;
        width: 97%;
        border-radius: 2%;
    }
    .question{
        width: 90%;
        margin-left:5%;
        height: 100px;
        background-color: #ced5d6;
        border:0.8px solid #3addd6;
        margin-top:10px;
    }
    .reponse{
        width: 100%;
        height: 260px;
        margin-top:5px;
    }
    #question{
        margin-top:10px
    }
    #score{
        float: right;
        margin-right:25px;
        margin-top:20px;
        width:8%;
        height:30px;
        background-color:#ced5d6;
    }
    #btn-suivant, #btn-precendent{
        width: 20%;
    }
    .title_score{
        width: 100%;
        height:40px;
       
        background-color: rgb(233, 231, 231);
    }
    .score{
        width: 100%;
        height:300px;
       
    }
    #texte{
    }
    ul{
        list-style-type: none;
        display: block;
        
    }
    ul>li{
        margin-top: 10px;
        display: inline-block;
        padding-left: 70px;
        
    }
    #top-score{
        
    }
    a{
        text-decoration: none;
        cursor: pointer;
        color:grey;
    }
    li>#top-score:active{
        background-color: white;
        width: 25%;
        height: 50px;
    }
    li:hover{
        color: grey;
    }
    li:visited{
        color: grey;
    }

   
}
    /*Responsivité pour Tablette*/
   
    /*Responsivité pour Smartphone*/
   